#incre-btn {
    background-color: red;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
#save-btn{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.passanger-app{
    background-color: rgb(157, 157, 238);
    padding-left: 550px;
}